body {
    background-color: lightblue;
}

@media (max-width: 600px) {
    body {
        background-color: yellow;
    }   
}

h1 {
    color: red;
    text-align: center;
}

div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

nav {
    display: flex;
    padding: 10px;
}

nav a {
    margin: 10px;
}

form button {
    color: red;
}

form button:hover {
    color: black;
}

.cabin {
    height: 25px;
    width: 25px;
    border: 3px solid salmon;
    right: 300px;
    position: absolute;
    animation: box 6s ease-in-out infinite;.
}

@keyframes box {
    10% { left: 500px; }
    30% { left: 375px; }
    50% { left: 275px; }
    70% { left: 175px; }
    90% { left: 59px; }
}